.header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: rgb(193, 127, 255);
    width: 99%;
    padding: 10px;
    box-shadow: 10px 5px 5px black;
    
 }
 .container{
     margin-top: 80px;
     margin-left: 80px;
     margin-right: 80px;
     position: absolute;
     /*width: 100%;*/
     left: 0;
     background-color: rgb(245, 238, 181);
     overflow-x: hidden;
     padding: 50px;
 }
 .footer{            
     left: 0;
     background-color: rgb(255, 161, 72);
     padding: 10px;
 }

 body{
    font-family: cursive;
    line-height:25px;
 }

 .margin0{
     margin: 0 0 0 0;
 }

 ol li{margin-bottom:20px;}

 .expHeader{
     padding: 15px;
    background-color: rgb(156, 184, 235);
    /*border-bottom: 5px dotted rgb(255, 145, 0);*/
 }